.dashboard {
  padding: 2rem 2.5rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.dashboard li {
  background-color: rgba(247, 104, 104, 0.345);
  border-radius: 1rem;
  padding: .5rem 1rem;
  color: whitesmoke;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}


.icon--task, .icon--phone, .icon--check {
  width: 2rem;
}
