@import "tasks.css";
@import "form.css";
@import "app.css";
@import "dashboard.css";


*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

}

body {
  font-size: 1.6rem;
  line-height: 1.2;
  background: hsla(332, 53%, 82%, 1);
  background: linear-gradient(180deg, hsla(332, 53%, 82%, 1) 0%, hsla(176, 57%, 89%, 1) 100%);
  background: -moz-linear-gradient(180deg, hsla(332, 53%, 82%, 1) 0%, hsla(176, 57%, 89%, 1) 100%);
  background: -webkit-linear-gradient(180deg, rgb(185, 205, 233) 0%, hsla(176, 57%, 89%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E9B7CE", endColorstr="#D3F3F1", GradientType=1 );
}

.hidden {
  display: none;
}

#root {
  height: 100vh;
  position: relative;
}
